<span class="stars">
  <ion-icon *ngIf="average == 0" name="star-outline" ></ion-icon>
  <ion-icon *ngIf="average == 0.5" name="star-half"></ion-icon>
  <ion-icon *ngIf="average >= 1" name="star"></ion-icon>

  <ion-icon *ngIf="average <= 1" name="star-outline"></ion-icon>
  <ion-icon *ngIf="average == 1.5" name="star-half"></ion-icon>
  <ion-icon *ngIf="average >= 2" name="star"></ion-icon>

  <ion-icon *ngIf="average <= 2" name="star-outline"></ion-icon>
  <ion-icon *ngIf="average == 2.5" name="star-half"></ion-icon>
  <ion-icon *ngIf="average >= 3" name="star"></ion-icon>

  <ion-icon *ngIf="average <= 3" name="star-outline"></ion-icon>
  <ion-icon *ngIf="average == 3.5" name="star-half"></ion-icon>
  <ion-icon *ngIf="average >= 4" name="star"></ion-icon>

  <ion-icon *ngIf="average <= 4" name="star-outline"></ion-icon>
  <ion-icon *ngIf="average == 4.5" name="star-half"></ion-icon>
  <ion-icon *ngIf="average >= 5" name="star"></ion-icon>
</span>